.wave {
  height: 20vh;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  background: #11385b;
}

.headerButton{
  width: fit-content;
  margin-right: 0;
  background-color: grey;
  border-radius: 50%;
  height: 25px;
  width: 30px;
  border: none;
  margin-top: 10px;
}

.headerBiggerButton{
  margin-top: 20px;
  width: fit-content;
  margin-right: 0;
  background-color: grey;
  border-radius: 50%;
  height: 70px;
  width: 80px;
  border: none;
}

.buttonName {
 color: white;
}

.scrolling-box {
  background-color: #c2f0ff;
  display: block;
  width: 100%;
  height: 200px;
  padding: 1em;
  overflow-y: scroll;
}

.chatBox{
  border-style: solid;
  border-radius: 20px;
  border-width: 1px;
  background-color: white;
  height: auto;
  width: 100%;
}

.center{
  display: flex;
  justify-content: center;
}

.chatBackground{
  height: 100vh;
  background-color: #c2f0ff;
}

.textContainer{
  height: 60vh;
}

body {
  margin: 0;
  background-image: url(./images/background.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.login-header {
  height: 40vh;
}

.logo {
  max-width: 50%;
}

.loginError {
  color: red;
  font-weight: 800;
}

.test {
  text-align: center;
  width: 30%;
  background-color: white;
}

.buttonBody{
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.groceryButton{
  margin-bottom: 20px ;
  border: solid;
  border-color: black;
  border-width: 1px;
  color: black;
  width: 70%;
}
