.buttonName {
 color: white;
}

.scrolling-box {
  background-color: #c2f0ff;
  display: block;
  width: 100%;
  height: 200px;
  padding: 1em;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.chatBox{
  border-style: solid;
  border-radius: 20px;
  border-width: 1px;
  background-color: white;
  height: auto;
  width: 100%;
}

.center{
  display: flex;
  justify-content: center;
}

.chatBackground{
  height: 80vh;
}

.textContainer{
  height: 60vh;
}

body {
  margin: 0;
  background: rgb(46,204,233);
  background: linear-gradient(0deg, rgba(46,204,233,1) 8%, rgba(44,65,139,1) 81%, rgba(53,85,150,1) 100%);
  width: 100%;
  height: 100vh;
}

p {
  margin: 0;
}

.login-header {
  height: 40vh;
}

.logo {
  max-width: 50%;
}

.loginError {
  color: red;
  font-weight: 800;
}

.member-dropdown {
  text-align: center;
  width: 30%;
  background-color: white;
}

.buttonBody{
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.home-screen-header {
  height: 20vh;
}

.header-left {
  height: 20vh;
}

.header-right {
  height: 100%;
}

.client-fridge-logo {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-image: url(./images/logo.png);
  background-size: contain;
}

.user-icon {
  color: black;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: grey;
  border: 1px solid black;
}

.blank {
  background-color: lightsteelblue;
}

.food-group-dropdown {
  background: white;
}

.card-color {
  background-color: lightgray;
}

.test {
  height: 60vh;
}

.border-test {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  height: 1vh;
}

.cursive-font {
  font-family: 'Caveat', cursive;
}

.bold-font {
  font-family: 'Merienda One', cursive;
}

.add-food-font, .all-foods-font, .member-items {
  font-size: 1.5em;
  color: floralwhite;
}

.header-font {
  font-family: 'Merienda One', cursive;
  color: floralwhite;
}

.all-items-card {
  width: 75%;
  max-width: 500px;
}

.button-format {
  font-family: 'Caveat', cursive;
  font-size: 1.5em;
}

.my-fridge-screen-button, .fridge-members, .member-item-card {
  width: 300px;
}

.expiration-font {
  font-size: 1.2em;
}

.fridge-name-styling, .header-text {
  font-family: 'Merienda One', cursive;
  color: rgb(53,85,150);
}

.button-3d {
  border-bottom: 5px solid #4f5963
}

.button-3d-red {
  border-bottom: 5px solid #bf2635
}

.button-3d-green {
  border-bottom: 5px solid #178a32
}

.button-3d-yellow {
  border-bottom: 5px solid #e3aa00
}

.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button:active
{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}
