body {
  margin: 0;
  background-image: url(./images/background.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.login-header {
  height: 40vh;
}

.logo {
  max-width: 50%;
}

.loginError {
  color: red;
  font-weight: 800;
}
